<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/vue.js"></script>
    <title>项目列表</title>
    <style>
      .table-list{
          /* color:black; */
          border-collapse:collapse;
          border:1px black solid;
          empty-cells: show;
      }
      table td,th{
        word-break: keep-all;
        white-space: nowrap;
      }
      .table-list tbody tr{
        border: 1px gray solid;
        table-layout: fixed;
      }
      .table-list tbody tr td{
        border: 1px gray solid;
      }
      #xtable{
        overflow: auto;
        width: 100%;
      }
    </style>
</head>
<body>
  <div>查询列表展示界面</div>
    <div>
        <select id="showlist">
          <option value="01" selected>打卡列表</option>
          <option value="02">员工列表</option>
          <option value="03">记录列表</option>
          <option value="04">项目列表</option>
        </select>
    </div>
    <div>
          <div>
              <input type="button" value="删除"  onclick="selectAll()">
               <div id="table">
                 <div id="xtable">
                  <table class="table-list" cellpadding="10">
                    <thead>
                      <td></td>
                      <td v-for="h in tableHead">{{h}}</td>
                      <td></td>
                      <td></td>
                    </thead>
                    <tr v-for="item in tableData" :key="vval(item)">
                      <td><input type="checkbox" :name="item.name" :value="vval(item)"/></td>
                      <td v-for="(v,k,i) in item" v-if="i!=0">{{v}}</td>
                      <!-- <td>{{item.date}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.address}}</td> -->
                      <td><button :value="vval(item)" onclick="zclick(this)" name="edit">edit</button></td>
                      <td><button :value="vval(item)" onclick="zclick(this)" name="delete">delete</button></td>
                      </tr>
                  </table>  
                </div>
                  <input type="button" value="上一页" sgin="previous" onclick="changePage(this)"><input type="button" value="下一页" sgin="next" onclick="changePage(this)">
               </div>
               
            </div>
            <div>
              <p>没有什么不同</p>
            </div>
    </div>
    <script src="js/common/page_list.js"></script>
    <script>
      window.onload=function(){
        urls=["/all/dayrecord","/all/empl","/all/emplrecord","/all/wrokprogram"];
        datas.currentUrl=urls[0];
        da=pageDataJson();
        zhttp(datas.currentUrl,"post",da,getList);
        $("#showlist").on("change",function(){
          var s=this.value;
          s01=s.substr(1,1);
          i=parseInt(s01);
          v.$data.pages.current=0;
          datas.vindex=2;//id
          datas.currentUrl=urls[i-1];
          getList(urls[i-1]);
          da=pageDataJson();
          zhttp(datas.currentUrl,"post",da,getList);
        });
        function getList(resp){
          if(resp.msg=="查询失败!"){
                alert(resp.msg);
                return;
            }
            // alert(resp.msg);
            v.$data.tableData=resp.tdata;
            v.$data.tableHead=resp.thead;
        }
      }
    </script>
</body>
</html>