<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.part.ms.mapper.UserMapper">
    <select id="login" resultType="int">
	    select 1 from user where username=#{user.userName} and password=#{user.password}
	</select>
	<update id="updateLoginStatus">
		update user set status=#{user.status} where
		<choose>
			<when test="user.userName!=null">
				username=#{user.userName}
			</when>
			<when test="user.userId!=null">
				userid=#{user.userId}
			</when>
			<when test="user.userCode!=null">
				usercode=#{user.userCode}
			</when>
			<otherwise>
				emplyeeno=#{user.emplyeeNo}
			</otherwise>
		</choose>
	</update>
</mapper>